# MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=whale_tutor
MYSQL_USER=tutor
MYSQL_PASSWORD=tutor
MYSQL_PORT=3306

# Server
SERVER_PORT=3000
DATABASE_HOST=mysql
DATABASE_PORT=3306
DATABASE_USER=tutor
DATABASE_PASSWORD=tutor
DATABASE_NAME=whale_tutor
